.mainHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgb(216, 216, 216);
    padding: 0 2vw;
}
.header {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: initial;
}
.headerText {
    display: block;
    color: #FA3666;
    font-size: 7vh;
    font-weight: 700;
    margin-left: 1vw;
    cursor: pointer;
}
.headerImg {
    height: 8vh;
    width: auto;
    cursor: pointer;
}
.gameHeader {
    display: flex;
}
.gameHeaderImg {
    height: 6vh;
    width: auto;
}
.gameHeaderDetails {
    display: flex;
    flex-flow: column wrap;
    padding: 0 1vh;
}
.gameHeaderDetails span {
    font-size: 1vw;
    font-weight: 600;
    text-align: center;
}
.returnHomeBtn {
    background-color: #FA3666;
    color: white;
    font-size: 3vh;
    font-weight: 600;
    padding: 1vh;
    border-radius: 15px;
}