header {
    height: 10vh;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid rgb(216, 216, 216);
    cursor: initial;
}
span {
    display: block;
    color: #FA3666;
    font-size: 7vh;
    font-weight: 700;
    margin-left: 1vw;
    cursor: pointer;
}
img {
    height: 8vh;
    width: auto;
    cursor: pointer;
}