.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modalContent {
    background-color: white;
    padding: 1vh 1vw;
    border-radius: 10px;
}
.modalHeader {
    color: #FA3666;
    font-size: 3vh;
    font-weight: 700;
}
.modalBody {
    border-top: 2px solid rgb(216, 216, 216);
    border-bottom: 2px solid rgb(216, 216, 216);
    font-size: 1vw;
    padding: 2vh 0;
}
.modalFooter {
    display: flex;
    justify-content: flex-end;
    padding: 1vh 0;
}
.modalButton {
    color: white;
    background-color: #FA3666;
    border: 0px;
    padding: 1vh 1vw;
    border-radius: 5px;
    font-size: 2vh;
    font-weight: 700;
    margin: 0 1vw;
    text-decoration: none;
}
input[type="text"] {
    font-family: Arial, Helvetica, sans-serif;
}